@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BlueFin</h1>
    <img src="@("~/images/BlueFinLogo.jpg")" asp-append-version="true" width="350px" height="350px">
    <p>Learn about sealife preservation here: <a href="https://www.visitsealife.com/conservation/" target="_blank" rel="noopener noreferrer"> Preserving our Oceans</a>.</p>
</div>
