/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

td .deleteLink {
    color: #FB3106;
    font-weight: bold;
    text-decoration: none;
}

div .addLink {
    color: #228B22;
    font-weight: bold;
    text-decoration: none;
}

div .backLink {
    color: #0366d6;
    font-weight: bold;
    text-decoration: none;
}

#editLink {
    font-weight: bold;
    text-decoration: none;
}

#detailsLink {
    font-weight: bold;
    text-decoration: none;
    color: #4BF300;
}

#orderConfirmation {
    margin-top: 4em;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5em;
}
#address {
    text-align: center;
}

#address a {
    text-decoration: none;
    color: grey;
}

#privacyFacebook {
    text-align: center;
    text-decoration: none;
    margin-top: -1.2em;
}

#orderHeader {
    padding-top: 1em;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

#order {
    padding-top: 1.5em;
    text-align: center;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

input[type=number] {
    width: 6em;
}
